.nav-tabs{
    display:  flex;
    list-style: none;
    justify-content: space-around;  
}
.font-color{
    color: #1D3557;
}
a:hover{
    text-decoration: none;
}
.tabs-content {
    min-height: 500px;
}
.image-about{
    height: auto;
    width: 80%;  
}
.image-about:hover{
    transform: scale(1.1);
}
.tabs-content{
    padding-top: 2rem;
}
li{
padding: 1rem 2rem 2rem;
}
.active{
    font-weight: bold;
}

