.footer-container{
    padding: 4rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
}
.footer-subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 24px;
}
