.big-img{
    height: 500px;
}
.big-img:hover{
    transform: scale(1.01);
}
.small-img{
    height: 100px;
    padding: 3px;
}
.small-img:hover{
    transform: scale(1.05);
}
.row{
    padding: 4px;
}
.col-xs-6>p{
    margin-left: 2rem;
    padding-left: 5rem;
}
.reviews-btn{
    display: flex;
    justify-content: right;
}
.flex-row{
    display: flex;
    justify-content: space-between;
}
.price>span{
    color: #E63946;
}
.description{
padding-left: 2px;
}